<mat-grid-list cols=3 rowHeight="30%">
    <mat-grid-tile rowspan="1" colspan="1">
        <div class = "order">
            <h3>Departamento</h3>
            <div class="example-flex-container">
                <div class="example-button-container">
                    <button mat-fab color="primary" (click) = "goToAddDepa()">
                        <mat-icon>plus_one</mat-icon>
                    </button>
                </div>
                <div class="example-button-container">
                    <button mat-fab color="accent" (click) = "goToEditDepa()">
                        <mat-icon>edit</mat-icon>
                    </button>
                </div>
                <div class="example-button-container">
                    <button mat-fab color="warm" (click) = "goToDeleteDepa()">
                        <mat-icon>delete</mat-icon>
                    </button>
                </div>
            </div>
        </div>
    </mat-grid-tile>

    <mat-grid-tile rowspan="1" colspan="1"></mat-grid-tile>

    <mat-grid-tile rowspan="1" colspan="1">
        <div class = "order">
            <h3>Jornada</h3>
            <div class="example-flex-container">
                <div class="example-button-container">
                    <button mat-fab color="primary" (click) = "goToAddJornada()">
                        <mat-icon>plus_one</mat-icon>
                    </button>
                </div>
                <div class="example-button-container">
                    <button mat-fab color="accent" (click) = "goToEditJornada()">
                        <mat-icon>edit</mat-icon>
                    </button>
                </div>
                <div class="example-button-container">
                    <button mat-fab color="warm" (click) = "goToDeleteJornada()">
                        <mat-icon>delete</mat-icon>
                    </button>
                </div>
            </div>
        </div>
    </mat-grid-tile>

    <mat-grid-tile rowspan="1" colspan="1"></mat-grid-tile>

    <mat-grid-tile rowspan="1" colspan="1">
        <div class = "order">
            <h3>Permiso</h3>
            <div class="example-flex-container">
                <div class="example-button-container">
                    <button mat-fab color="primary" (click) = "goToAddPermiso()">
                        <mat-icon>plus_one</mat-icon>
                    </button>
                </div>
                <div class="example-button-container">
                    <button mat-fab color="accent" (click) = "goToEditPermiso()">
                        <mat-icon>edit</mat-icon>
                    </button>
                </div>
                <div class="example-button-container">
                    <button mat-fab color="warm" (click) = "goToDeletePermiso()">
                        <mat-icon>delete</mat-icon>
                    </button>
                </div>
            </div>
        </div>
    </mat-grid-tile>

    <mat-grid-tile rowspan="1" colspan="1"></mat-grid-tile>

    <mat-grid-tile rowspan="1" colspan="1">
        <div class = "order">
            <h3>Empleado</h3>
            <div class="example-flex-container">
                <div class="example-button-container">
                    <button mat-fab color="primary" (click) = "goToAddEmpleado()">
                        <mat-icon>plus_one</mat-icon>
                    </button>
                </div>
                <div class="example-button-container">
                    <button mat-fab color="accent" (click) = "goToEditEmpleado()">
                        <mat-icon>edit</mat-icon>
                    </button>
                </div>
                <div class="example-button-container">
                    <button mat-fab color="warm" (click) = "goToDeleteEmpleado()">
                        <mat-icon>delete</mat-icon>
                    </button>
                </div>
            </div>
        </div>
    </mat-grid-tile>

    <mat-grid-tile rowspan="1" colspan="1"></mat-grid-tile>

    <mat-grid-tile rowspan="1" colspan="1">
        <div class = "order">
            <h3>Marcas</h3>
            <div class="example-flex-container">
                <div class="example-button-container">
                    <button mat-fab color="primary" (click) = "goToAddMarcas()">
                        <mat-icon>plus_one</mat-icon>
                    </button>
                </div>
                <div class="example-button-container">
                    <button mat-fab color="accent" (click) = "goToEditMarcas()">
                        <mat-icon>edit</mat-icon>
                    </button>
                </div>
                <div class="example-button-container">
                    <button mat-fab color="warm" (click) = "goToDeleteMarcas()">
                        <mat-icon>delete</mat-icon>
                    </button>
                </div>
            </div>
        </div>
    </mat-grid-tile>
</mat-grid-list>
<!-- <mat-divider></mat-divider> -->