<div>
    <br>
    <br>
    <br>
    <br>
    <h3>Editar el departamento </h3>
</div>
<mat-grid-list cols=3 rowHeight="45%">
    <mat-grid-tile rowspan="2" colspan="3">
        <mat-vertical-stepper [linear]="isLinear" #stepper>
            <mat-step [stepControl]="firstFormGroup">
                <form [formGroup]="firstFormGroup">
                    <ng-template matStepLabel>Ingrese el código departamento a editar</ng-template>
                    <mat-form-field>
                        <mat-label>Código</mat-label>
                        <input matInput placeholder="eg. 1328" formControlName="codigo" required>
                    </mat-form-field>
                    <div>
                        <button mat-button matStepperNext (click) = "update()">Siguiente</button>
                    </div>
                </form>
            </mat-step>  

            <mat-step>
                <ng-template matStepLabel>Datos del departamento</ng-template>
                <p>Está a punto de editar al departamento {{oldDepaName}} con código {{codigoDepa}}.</p>
                <p>¿Continuar?</p>
                <div>
                    <button mat-button matStepperPrevious>Atrás</button>
                    <button mat-button matStepperNext (click) = "update()">Continuar</button>
                </div>
            </mat-step>       

            <mat-step [stepControl]="secondFormGroup">
                <form [formGroup]="secondFormGroup">
                    <ng-template matStepLabel>Ingresar el nuevo nombre del departamento</ng-template>
                    <mat-form-field class="example-full-width">
                        <mat-label>Departamento</mat-label>
                        <input matInput placeholder="eg. DCF" formControlName="newDepaName" required>
                    </mat-form-field>
                    <div>
                        <button mat-button matStepperPrevious>Atrás</button>
                        <button mat-button matStepperNext (click) = "update()">Siguiente</button>
                    </div>
                </form>
            </mat-step>

            <mat-step>
                <ng-template matStepLabel>¡Listo!</ng-template>
                <p>El nombre del departemento ha sido modificado correctamente.</p>
                <p>{{oldDepaName}} ha sido modificado a {{newDepaName}}.</p>
                <div>
                    <button mat-button matStepperPrevious>Atrás</button>
                    <!-- Dev options -->
                    <!-- <button mat-button (click)="stepper.reset()">Reset</button> -->
                    <button mat-button (click)="displayDataP2()">Print</button>
                    <button mat-button (click)="goBack()">Guardar y Regresar</button>
                </div>
            </mat-step>
        </mat-vertical-stepper>
    </mat-grid-tile>


</mat-grid-list>