<div>
    <br>
    <br>
    <br>
    <br>
    <h3>Eliminar una marca</h3>
</div>
<mat-grid-list cols=3 rowHeight="45%">
    <mat-grid-tile rowspan="2" colspan="3">
        <mat-vertical-stepper [linear]="isLinear" #stepper>
            <mat-step [stepControl]="firstFormGroup">
                <form [formGroup]="firstFormGroup">
                    <ng-template matStepLabel>Ingrese el código de la marca</ng-template>
                    <mat-form-field>
                        <mat-label>Código</mat-label>
                        <input matInput placeholder="eg. 1328" formControlName="codigo" required>
                    </mat-form-field>
                    <div>
                        <button mat-button matStepperNext>Siguiente</button>
                    </div>
                </form>
            </mat-step>

            <mat-step [stepControl]="secondFormGroup">
                <ng-template matStepLabel>Datos de la marca</ng-template>
                <p>Está a punto de eliminar la marca del día {{diaMarca}} empleado {{nombreEmpleado}} con código
                    {{codEmpleado}}.</p>
                <p>¿Continuar?</p>
                <div>
                    <button mat-button matStepperPrevious>Atrás</button>
                    <button mat-button matStepperNext>Continuar</button>
                </div>
            </mat-step>

            <mat-step>
                <ng-template matStepLabel>Marca de entrada o salida</ng-template>
                <button mat-raised-button color="accent" matStepperNext (click)="deleteEntrada()" style="margin-left: 5px; margin-right: 5px;">Entrada</button>
                <button mat-raised-button color="accent" matStepperNext (click)="deleteSalida()" style="margin-left: 5px; margin-right: 5px;">Salida</button>
                <div>
                    <button mat-button matStepperPrevious>Atrás</button>
                    
                </div>

            </mat-step>

            <mat-step>
                <ng-template matStepLabel>¡Listo!</ng-template>
                <p>Se ha eliminado correctamente la marca de {{tipoDeMarca}}</p>
                <div>
                    <!-- Dev options -->
                    <!-- <button mat-button matStepperPrevious>Atrás</button> -->
                    <!-- <button mat-button (click)="stepper.reset()">Reset</button> -->
                    <!-- <button mat-button (click)="displayDataP2()">Print</button> -->
                    <button mat-button (click)="goBack()">Guardar y Regresar</button>
                </div>
            </mat-step>
        </mat-vertical-stepper>
    </mat-grid-tile>


</mat-grid-list>